.hot_picks_item_container:not(:last-child) {
  margin-bottom: 20px;
}

.hot_picks_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
}

.hot_picks_user_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.prediction_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prediction_badge {
  font-size: 14px;
  background-color: #1abc9c1a;
  color: var(--text-primary);
  padding: 8px 12px;
  border: 1px solid var(--brand);
  border-radius: 10px;
}

.more a {
  font-size: 14px;
  background-color: var(--brand);
  color: var(--dark);
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.more a:hover {
  background-color: var(--dark-secondary);
  color: var(--text-primary);
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .teams_info {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .prediction_container {
    display: block;
  }

  .hot_picks_user_actions {
    width: 100%;
    align-items: baseline;
    column-gap: 0px;
  }

  .prediction_badge:not(:last-child) {
    margin-bottom: 10px;
  }

  .match_details_container {
    width: 100%;
    margin: 0 auto;
  }
}
